* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.animation2 {
    background: rgba(212, 210, 210, 0.344);
    padding: 60px 140px;
    width: 700px;
}

.animationBar1 {
    height: 60px;
    width: 400px;
    border: 2px solid black;
    margin: 15px 0;
}

.animationBar1 .smallBar1 {
    background: blue;
    height: 100%;
    animation-name: animatonBarWidth;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes animatonBarWidth {

    0% {
        width: 100px;
    }

    50% {
        width: 200px;
    }

    100% {
        width: 250px;
    }
}

.animationBar1 .smallBar2 {
    background: blue;
    height: 100%;
    animation-name: animatonBarWidth2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animatonBarWidth2 {

    0% {
        width: 100px;
    }

    50% {
        width: 200px;
    }

    100% {
        width: 250px;
    }
}

.animation4 {
    background: rgb(221, 120, 120);
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.beforeAnimation1 {
    font-size: 30px;
    padding: 5px 0px;
    position: relative;
    cursor: pointer;
}

.upLine {
    background: red;
    width: 100%;
    height: 4px;
    top: 0;
    position: absolute;
    transition: all 0.7s;
}

.downLine {
    background: blue;
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
    transition: all 0.7s;

}

.beforeAnimation1:hover .upLine {
    top: 40px;
}

.beforeAnimation1:hover .downLine {
    bottom: 40px;
}

.beforeAnimation2 {
    background: green;
    margin-top: 50px;
    font-size: 30px;
    padding: 25px 30px;
    position: relative;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.smallDiv {
    position: absolute;
    border: 4px solid green;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    transition: all 0.7s;

}

.beforeAnimation2:hover .smallDiv {
    transform: scale(1.2);
}

.beforeAnimation3 {
    margin-top: 50px;
    font-size: 30px;
    padding: 25px 30px;
    position: relative;
    cursor: pointer;
    background: orange;
    position: relative;
    width: 250px;
    height: 70px;
}

.beforeAnimation3 p {
    position: absolute;
    top: 20px;
    z-index: 2;
    color: white;
}

.littleBox {
    width: 5px;
    height: 5px;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 50%;
    transition: all 0.7s;
}

.beforeAnimation3:hover .littleBox {
    width: 100%;
    height: 100%;
    left: 0px;
}

.beforeAnimation4 {
    background: red;
    width: 600px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    font-size: 20px;

}

.middleAnimation {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100px;
}

.middleAnimation span {
    background: blue;
    width: 0px;
    height: 3px;
    transition: all 0.7s;
}

.middleAnimation:hover span {
    width: 60px;
}

.conatnier {
    background-color: rgb(241, 120, 245);
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding-top: 10px;
}


.content {

    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-left: 10px;
    position: relative;
    animation-duration: 4s;
    animation-name: test;
    animation-iteration-count: infinite;

}

@keyframes test {
    0% {
        background-color: blue;
        border-radius: 100px;
        left: 0;
        top: 0;
    }

    25% {
        background-color: red;
        border-radius: 0px;
        left: 330px;
        top: 0;
    }

    50% {
        background-color: green;
        border-radius: 100px;
        left: 330px;
        top: 330px;
    }

    75% {
        background-color: chocolate;
        border-radius: 0px;
        left: 0;
        top: 330px;
    }

    100% {
        background-color: blue;
        left: 0;
        top: 0;
    }
}